@import '../../scss/core';

._root {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  gap: 0px;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  grid-template-areas:
    'selector header'
    'navigation main';
}

._selector,
._navigator {
  background-color: #f7f6f3;
}

._selector {
  grid-area: selector;
}

._header {
  grid-area: header;
}

._navigator {
  grid-area: navigation;
}

._main {
  grid-area: main;
}
